* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    padding: 0;
    margin: 0;
}

body {
    background: #131313;    
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: #131313;
    border: 1px solid #fff;
}

.navigation {
    display: flex;
    padding: .8em;
    position: relative;
    right: 50px;
}

.burgermenu {
    display: none;
    padding: 0.5rem;
    cursor: pointer;
 }

 .line {
    height: 2px;
    width: 35px;
    margin: 0.5rem 0;
    background: #daf8e3;
    transition: transform 0.75s ease, opacity 0.75s ease;
 }

 nav.show .line1 {
    transform: translate(-10px)
    rotate(45deg) translate(15px);
 }

 nav.show .line2 {
    opacity: 0;
 }

 nav.show .line3 {
    transform: translate(-10px)
    rotate(-45deg) translate(15px);
 }

 nav.show .navigation {
    transform: translateX(0%);
 }

.navigation li {
    
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    display: block;
    position: relative;
}

.navigation li a {
    display: block;
    padding: 20px 25px;
    color: #fff;
    text-align: center;
}

.navigation li ul.dropdown li {
    display: block;
}

.navigation li ul.dropdown {
    width: 100%;
    background: #131313;
    position: absolute;
    z-index: 999;
    display: none;
}

.downarrow {
    font-size: 0.8em;
    margin-left: 5px;
}
.navigation li a:hover {
    background: #1f1f1f;
    border-radius: 10px;
}

.navigation li:hover ul.dropdown {
    display: block;
}

ul {
    list-style: none;
}

li a {
    text-decoration: none;
    color: #fff;
}

.logo {
    font-family: 'Inter', sans-serif;
    color: #fff;
    padding: 1em;
    font-size: 20px;
}

.logo a {
    text-decoration: none;
    color: #fff;
}

.cart {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -5px;
    right: 2px;
}

.header {
    position: relative;
    width: 100%;
    height: 319px;
    overflow: hidden;
    margin: 0;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../IMG/index/hero-m.jpg');
    background-position: center;
    background-size: cover;
    filter: blur(10px); /* Adjust the blur value as needed */
    z-index: -1; /* Place the pseudo-element behind the content */
}

.header-content {
    position: relative;
    z-index: 1; /* Place the content above the pseudo-element */
    /* Additional styling for the text, if needed */
}

/* Additional styling for the text, if needed */
.header h1 {
    color: #ffffff;
    text-align: center;
}

.title {
    font-family: 'Inter', sans-serif;
    font-size: 70px;
    color: #fff;
    text-align: center;
    padding: 15vh 0 0 0;
}

.discount {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #fff;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0 0 2em 0;
}

.boxOne {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 577px;
    height: 632px;
    border: 1px solid #fff;
    border-bottom: 1px #000;
    border-radius: 40px;
    background: 
    linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%), /* Black at the bottom */
    url('../IMG/index/1m.jpg'); /* Image */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0 1em 1em 0;

}

/* Outerwear */
.first {
    position: relative;
    width: 347px;
    height: 84px;
    left: 1vw;
    top: 28vh;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
}

/* icon (1) 1 */
.right {
    position: relative;
    top: 26vh;
    width: 53px;
    height: 53px;
}

.boxTwo {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 577px;
    height: 632px;
    border: 1px solid #fff;
    border-radius: 40px;
    background: 
    linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%), /* Black at the bottom */
    url('../IMG/index/2m.jpg'); /* Image */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0 1em 1em 0;

}

.second {
    position: relative;
    width: 347px;
    height: 84px;
    left: 1vw;
    top: 28vh;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
}

.rightarrow {
    position: relative;
    top: 26vh;
    width: 53px;
    height: 53px;
}

.boxThree {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 577px;
    height: 632px;
    border: 1px solid #fff;
    border-radius: 40px;
    background: 
    linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%), /* Black at the bottom */
    url('../IMG/index/3m.jpg'); /* Image */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0 1em 1em 0;
}


.third {
    position: relative;
    width: 347px;
    height: 84px;
    left: 1vw;
    top: 28vh;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
}


.rightArrow {
    position: relative;
    top: 26vh;
    width: 53px;
    height: 53px;
}

@media only screen and (max-width: 768px) {

    body {
        display: block;
    }
    .burgermenu {
        display: block;
        position: relative;
        margin-right: 15px;
        z-index: 4;
    }

    nav {
        position: relative;
        z-index: 3;
    }
    .navigation {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background: linear-gradient(50deg, #000, #0b0b0bf0);
        transform: translateX(100%);
        transition: transform 1s ease;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
        z-index: 2;
    }

    .cart {
        position: relative;
    }

    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .title {
        padding: 0;
    }

    .container {
        max-width: 350px;
        flex-direction: column;
    }

    .boxOne, .boxTwo, .boxThree {
        width: 350px;
        margin: 0 auto;
    }

    .header {
        height: auto;
     }
     
     .right {
         right: 4em;
     }

     .rightArrow {
         left: -3em;
     }
    
}

@media only screen and (max-width: 1280px) {
    .container {
       flex-direction: column;
    }
}

@media only screen and (max-width: 1440px) {
    .container {
        max-width: 1200px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .header {
        height: auto;
     }
 
     .first {
         top: 7em;
         left: 1em;
     }
     
     .right {
         top: 16.5em;
         right: 2em;
     }
     
     .second {
     
        top: 7em;
        left: 1em;
     }
     
     .rightarrow {
     
        top: 16.5em;
        right: 2em;
     }
     
     .third {
        
        top: 7em;
        left: 1em;
     }
     
     
     .rightArrow {
        top: 16.5em;
        right: 7em;
     }
    
}

@media only screen and (min-width: 1401px) {
    .header {
       height: auto;
    }

    .first {
        top: 7em;
    }
    
    .right {
        top: 16.5em;
    }
    
    .second {
    
        top: 7em;
    }
    
    .rightarrow {
    
        top: 16.5em;
    }
    
    .third {
       
        top: 7em;
    }
    
    
    .rightArrow {
        top: 16.5em;
    }
}


